.calc {
  padding: 5rem 0;
  background-color: #fff;
  overflow: hidden;
  @include mobile {
    padding: 3rem 0;
  }
  &__title {
    margin-bottom: 4rem;
    @include mobile {
      margin-bottom: 3rem;
    }
  }
  &__container {
    position: relative;

    display: grid;
    grid-template-columns: repeat(8, 1fr);

    @include mobile {
      display: block;
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-35%, -50%);

    width: 50.2rem;
    aspect-ratio: 1 / 1;
    @include mobile {
      width: 27rem;
      transform: none;
      top: unset;
      left: unset;
      bottom: -10rem;
      right: -17rem;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
}

.calculator {
  grid-column: 4 / 5 span;
  width: 100%;
  &__btn {
    padding: 1.3rem 8rem;
    font-size: 1.4rem;
    @include mobile {
      padding: 1rem 3rem;
    }
  }

  .tabs {
    display: flex;
    gap: 1rem;
    @include mobile {
      gap: 0.5rem;
      overflow-x: scroll;
    }
    .tab {
      padding: 0.7rem 2rem;
      border: 2px solid #69803e;
      border-bottom: 0;
      border-radius: 10px 10px 0 0;
      background: none;
      font-size: 1.6rem;
      cursor: pointer;
      @include mobile {
        font-size: 1.4rem;
        padding: 0.7rem 1rem;
      }
      &.active {
        background: #69803e;
        color: #fff;
      }
    }
  }

  .tab-content {
    display: none;
    padding: 2rem;
    border: 2px solid #69803e;
    border-radius: 0 10px 10px 10px;
    max-height: 65rem;
    min-height: 40rem;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #69803e #e9e9e9;
    background-color: #fff;
    position: relative;
    z-index: 2;
    &.active {
      display: block;
    }

    @include mobile {
      background-color: #fff;
      max-height: 40rem;
      padding-top: 0;
    }
  }

  .menu-items {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }

  .menu-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 3rem;
    padding: 0.8rem 0;

    & > div {
      font-size: 1.6rem;
      @include mobile {
        font-size: 1.3rem;
      }
      &:nth-child(1) {
        width: 60%;
      }
      &:nth-child(2) {
        width: 15%;
        @include mobile {
          width: 25%;
          flex-shrink: 0;
        }
      }
      &:nth-child(3) {
        width: 25%;
        text-align: right;
      }
    }
    &__name {
      width: 60%;
      font-weight: 400;
      font-size: 1.6rem;
      line-height: 108%;
    }

    &__controls {
      width: 20%;
    }

    &__price {
      width: 20%;
      text-align: right;
      font-weight: 400;
      font-size: 1.6rem;
    }

    @include mobile {
      gap: 1rem;
      padding: 1.2rem 0;

      &__name {
        font-size: 1.4rem;
      }
    }
  }

  .controls {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0.2rem;
    border: 1px solid #69803e;
    border-radius: 0.5rem;
    gap: 5px;
    width: auto;
    background-color: #fff;
    position: relative;

    @include mobile {
      display: flex;
      width: 100%;
      gap: 1px;
      padding: 0.2rem;
    }

    button {
      display: inline-block;
      width: auto;
      height: auto;
      background: none;
      border: none;
      font-weight: 700;
      color: #69803e;
      font-size: 2.5rem;

      @include mobile {
        flex-shrink: 0;
        position: absolute;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 1rem;
        height: 100%;
        font-size: 1.2rem;
        z-index: 2;
        top: 50%;
        transform: translateY(-50%);
      }

      &.minus {
        @include mobile {
          left: 0rem;
        }
      }

      &.plus {
        @include mobile {
          right: 0rem;
        }
      }
    }

    .quantity {
      pointer-events: none;
      padding: 0;
      width: 3.5rem;
      text-align: center;
      border: none;

      &::-webkit-outer-spin-button,
      &::-webkit-inner-spin-button {
        -webkit-appearance: none;
        margin: 0;
      }

      &:focus {
        outline: none;
      }

      @include mobile {
        width: 1.5rem;
        flex-grow: 0;
      }
    }
  }
}

.total {
  position: sticky;
  bottom: 0;
  background-color: #fff;
  padding: 1rem 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  @include mobile {
    flex-direction: column;
    align-items: flex-start;
    background: none;
    gap: 1rem;
  }
  &__price {
    font-weight: 500;
    font-size: 2rem;
    line-height: 108%;

    @include mobile {
      font-size: 1.5rem;
    }
  }
}
