.calc {
  padding: 5rem 0;
  background-color: #fff;
  @include mobile {
    padding: 3rem 0;
  }
  &__title {
    margin-bottom: 4rem;
    @include mobile {
      margin-bottom: 3rem;
    }
  }
  &__container {
    position: relative;

    display: grid;
    grid-template-columns: repeat(8, 1fr);

    @include mobile {
      display: block;
    }
  }

  &__img {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(-35%, -50%);

    width: 50.2rem;
    aspect-ratio: 1 / 1;
    @include mobile {
      width: 27rem;
      transform: none;
      top: unset;
      left: unset;
      bottom: -17rem;
      right: -17rem;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__calculator {
    grid-column: 4 / 5 span;
    width: 100%;
  }
}

.calculator {
  &__btn {
    padding: 1.3rem 8rem;
    font-size: 1.4rem;
    @include mobile {
      padding: 1rem 3rem;
    }
  }
  &__table {
    display: block;
    position: relative;
    z-index: 5;
    padding: 2rem 2rem;
    border: 2px solid #69803e;
    border-radius: 10px;
    max-height: 65rem;
    overflow-y: auto;
    scrollbar-width: thin;
    scrollbar-color: #69803e #e9e9e9;
    padding-bottom: 0;
    @include mobile {
      background-color: #fff;
      max-height: 40rem;
      padding-top: 0;
    }
    .controls {
      display: inline-flex;
      align-items: center;
      justify-content: center;
      padding: 0.2rem;
      border: 1px solid #69803e;
      border-radius: 0.5rem;
      gap: 5px;
      width: auto;
      background-color: #fff;
      position: relative;
      @include mobile {
        display: flex;
        width: 100%;
        gap: 1px;
        padding: 0.2rem;
        // width: 7rem;
      }

      button {
        display: inline-block;
        width: auto;
        height: auto;
        background: none;
        border: none;
        font-weight: 700;
        color: #69803e;
        font-size: 2.5rem;
        @include mobile {
          flex-shrink: 0;
          position: absolute;
          text-align: center;
          display: flex;
          align-items: center;
          justify-content: center;
          width: 1rem;
          height: 100%;
          font-size: 1.2rem;
          z-index: 2;
          top: 50%;
          transform: translateY(-50%);
        }
        &.minus {
          @include mobile {
            left: 0rem;
          }
        }
        &.plus {
          @include mobile {
            right: 0rem;
          }
        }
      }

      .quantity {
        pointer-events: none;
        padding: 0;
        width: 3.5rem;
        text-align: center;
        border: none;
        &::-webkit-outer-spin-button,
        &::-webkit-inner-spin-button {
          /* display: none; <- Crashes Chrome on hover */
          -webkit-appearance: none;
          margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
        }

        &:focus {
          outline: none;
        }

        @include mobile {
          width: 1.5rem;
          flex-grow: 0;
        }
      }
    }
    tbody,
    thead,
    tfoot {
      display: block;
    }
    tbody {
      td {
        font-weight: 400;
        font-size: 1.6rem;
        line-height: 108%;
        &:nth-child(1) {
          width: 60%;
        }
        &:nth-child(2),
        &:nth-child(3) {
          width: 20%;
        }

        @include mobile {
          font-size: 1.4rem;
        }
      }
    }
    tr {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 3rem;
      padding: 0.8rem 0;

      @include mobile {
        gap: 0.5rem;
        padding: 1.2rem 0;
      }
    }
    th {
      font-weight: 700;
      font-size: 1.8rem;
      line-height: 108%;
      color: #000;
      text-align: left;

      &:nth-child(1) {
        width: 60%;
      }
      &:nth-child(2),
      &:nth-child(3) {
        width: 20%;
      }

      @include mobile {
        font-size: 1.4rem;
      }
    }

    th,
    td {
      &:last-child {
        text-align: right;
      }
    }
  }
  tfoot {
    position: sticky;
    z-index: 4;
    background-color: #fff;
    bottom: 0;
    left: 0;
    right: 0;
  }
}

.total {
  &__price {
    font-weight: 500;
    font-size: 1.8rem;
    line-height: 108%;
    @include mobile {
      font-size: 1.5rem;
    }
  }
}
