.contacts {
  padding: 5rem 0;
  @include mobile {
    padding: 3rem 0;
  }
  &__title {
    margin-bottom: 6.5rem;

    @include mobile {
      margin-bottom: 2rem;
    }
  }
  &__address {
    &:not(:last-child) {
      margin-bottom: 2rem;
    }
  }

  &__container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;

    @include mobile {
      display: flex;
      flex-direction: column;
      align-items: stretch;
    }
  }

  &__map {
    flex-shrink: 0;
    border-radius: 1.5rem;
    overflow: hidden;
    width: 100%;
    height: 36rem;

    @include mobile {
      height: 24rem;
      border-radius: 0.5rem;
    }
  }

  &__socials {
    display: flex;
    gap: 2rem;
    @include mobile {
      gap: 1rem;
    }
  }
  &__tel {
    &:not(:last-child) {
      margin-bottom: 2.5rem;
      @include mobile {
        margin-bottom: 1rem;
      }
    }
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 4.5rem;
    height: 4.5rem;
    flex-shrink: 0;
    border-radius: 100%;
    background-color: #69803e;
    padding: 1.2rem;

    @include mobile {
      width: 2.6rem;
      height: 2.6rem;
      padding: 0.6rem;
    }
    img {
      display: block;
      object-fit: contain;
      width: 100%;
      height: 100%;
    }
  }
}

.address {
  font-style: normal;

  &__capture {
    display: block;
    margin: 0;
    margin-bottom: 1.5rem;
    font-weight: 500 !important;
    line-height: 89%;
    color: #000;

    span {
      font-weight: 400;
    }
  }

  &__addr {
    margin: 0;
    font-size: 1.6rem;

    @include mobile {
      font-size: 1.3rem;
    }
    span {
      font-weight: 500;
    }

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }
}

.contacts-tel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1.4rem;
  @include mobile {
    gap: 1rem;
  }
  svg,
  img {
    display: block;
    width: 1.4rem;
    height: 1.4rem;
    fill: #000;
    @include mobile {
      width: 1.2rem;
      height: 1.2rem;
    }
  }
  &__capture {
    font-weight: 500;
    font-size: 2rem;
    line-height: 89%;
    color: #000;

    display: flex;
    align-items: center;
    gap: 1rem;

    @include mobile {
      font-size: 1.4rem;
    }
  }

  &__tel {
    font-weight: 300;
    font-size: 1.8rem;
    color: #000;

    @include mobile {
      font-size: 1.4rem;
    }
  }

  &--white {
    svg {
      fill: #fff;
    }
    .contacts-tel__capture,
    .contacts-tel__tel {
      color: #fff;
    }
  }
}
