.footer {
  padding: 5.5rem 0;
  padding-bottom: 3rem;
  background-color: #212c28;
  border-top: 1px solid #fff;
  @include mobile {
    padding: 2rem 0;
    padding-top: 4rem;
  }
  &__logo {
    display: block;
    width: 23rem;
    aspect-ratio: 1 / 1;
    border-radius: 2rem;
    overflow: hidden;
    flex-shrink: 0;

    @include mobile {
      width: 10rem;
      order: 10;
    }
    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    gap: 8rem;
    padding-bottom: 2rem;
    border-bottom: 1px solid #b7b7b7;

    @include mobile {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 4rem 2rem;
      // flex-direction: column;
    }
  }
  &__col {
    &:nth-child(1),
    &:nth-child(2) {
      order: -2;
    }
  }
  &__socials {
    display: flex;
    gap: 0.4rem;
  }
  &__tel {
    &:not(:last-child) {
      margin-bottom: 3.5rem;
    }
  }
  &__link {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 2.5rem;
    height: 2.5rem;
    border-radius: 100%;
    background-color: #69803e;
    padding: 0.6rem;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }

  &__others {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2rem;
    font-weight: 300;
    font-size: 1.8rem;
    text-decoration: underline;
    text-decoration-skip-ink: none;
    color: #fff;
    @include mobile {
      font-size: 1rem;
      gap: 1rem;
    }
    a {
      color: inherit;
    }

    &:not(:last-child) {
      margin-bottom: 3rem;
      @include mobile {
        margin-bottom: 1rem;
      }
    }
  }

  &__btn {
    padding: 0.8rem 2.3rem;
    text-transform: initial;

    &:not(:last-child) {
      margin-bottom: 3rem;
      @include mobile {
        margin-bottom: 1rem;
      }
    }
  }
  &__agree {
    display: block;
    font-weight: 300;
    font-size: 1.2rem;
    color: #fff;
    max-width: 30rem;

    @include mobile {
      font-size: 0.8rem;
      max-width: 25rem;
    }
  }

  &__bottom {
    padding: 1.7rem 7.6rem;
    @include mobile {
      padding: 1.2rem 0;
    }
    small {
      font-family: var(--third-family);
      font-weight: 300;
      font-size: 1.8rem;
      color: #fff;

      @include mobile {
        font-size: 1rem;
      }
    }
  }
}

.footer-nav {
  &__item {
    &:not(:last-child) {
      margin-bottom: 2rem;
      @include mobile {
        margin-bottom: 1.2rem;
      }
    }
  }
  &__link {
    font-weight: 400;
    font-size: 1.8rem;
    color: #fff;

    @include mobile {
      font-size: 1.4rem;
    }
  }
}
