.header {
  position: relative;
  z-index: 100;
  background-color: #fff;
  @include mobile {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 2px 10px rgba(#000, 0.1);
  }
  &__container {
    position: relative;
    z-index: 100;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 2.5rem;
  }

  &__right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    flex: 1;

    @include mobile {
      justify-content: flex-end;
      gap: 1.5rem;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 10.7rem;
    aspect-ratio: 1 / 1;
    @include mobile {
      width: 7rem;
    }
    img {
      object-fit: contain;
      display: block;
      width: 100%;
      height: 100%;
    }
  }
  &__nav {
    @include mobile {
      display: none;
    }
  }

  &__tel {
    display: flex;
    align-items: center;
    gap: 0.6rem;

    font-weight: 500;
    font-size: 1.6rem;
    line-height: 108%;
    text-transform: uppercase;
    color: #000;
    @include hover {
      text-decoration: underline;
    }
    @include mobile {
      font-size: 1.4rem;
    }
    img {
      display: block;
      width: 3rem;
      height: 3rem;
      object-fit: contain;

      @include mobile {
        width: 2.4rem;
        height: 2.4rem;
      }
    }
  }
}
