<section class="about" id="about">
  <div class="container">
    <div class="about__container">
      <div class="about__content">
        <h2 class="title2 about__title">О нас</h2>
        <p class="desc about__desc">
          Добро пожаловать в <span>Latteria1963</span> — место, где гастрономия
          превращается в искусство. Мы создаем атмосферу праздника, где каждая
          деталь — от изысканных блюд до душевной обстановки — работает на ваше
          удовольствие.
        </p>
        <div class="desc">
          <span>Организуем:</span><br /><br />
          — Теплый семейный ужин или корпоративный банкет.<br />
          — Бизнес-завтрак в спокойной атмосфере. <br />
          — День рождения или baby shower, который запомнится<br />
          надолго. <br />
          — Наш бренд-шеф лично готовит блюда прямо перед гостями, превращая
          процесс в шоу. Только свежие ингредиенты, только уникальные рецепты.

          <br /><br />
          Мы работаем в Москве и области, доставляя вкус и стиль туда, где это
          нужно вам.
        </div>
      </div>

      <div class="about__img">
        <img src="./img/about.webp" alt="" />
      </div>
    </div>
  </div>
</section>
