<section class="benefits" id="benefits">
  <div class="container">
    <h2 class="title2 title2--white benefits__title">Наши преимущества</h2>

    <div class="benefits__container">
      <div class="benefits__block">
        <h3 class="title3 title3--white benefits__capture">Персонализация</h3>
        <p class="desc desc--white benefits__desc">
          Создаем блюда и детали с учетом ваших пожеланий
        </p>
      </div>
      <div class="benefits__block">
        <h3 class="title3 title3--white benefits__capture">
          Комплексный подход
        </h3>
        <p class="desc desc--white benefits__desc">
          Берем на себя всё — от меню до обслуживания
        </p>
      </div>
      <div class="benefits__block">
        <h3 class="title3 title3--white benefits__capture">
          Качество и надежность
        </h3>
        <p class="desc desc--white benefits__desc">
          Свежие продукты, безупречный вкус, высочайший сервис
        </p>
      </div>
      <div class="benefits__block">
        <h3 class="title3 title3--white benefits__capture">
          Гибкость и удобство
        </h3>
        <p class="desc desc--white benefits__desc">
          Решения для мероприятий любого формата
        </p>
      </div>
    </div>
  </div>
</section>
