<section class="calc">
  <div class="container">
    <h2 class="title2 calc__title">Калькулятор</h2>

    <div class="calc__container">
      <div class="calc__img">
        <img src="./img/calc3.webp" alt="" />
      </div>
      <div class="calculator">
        <div class="tabs">
          <div class="tab active" data-tab="snacks">Закуски</div>
          <div class="tab" data-tab="salads">Мини-формат салатов</div>
          <div class="tab" data-tab="desserts">Десерты</div>
        </div>

        <div class="tab-content active" id="snacks">
          <div class="menu-item" data-price="1000">
            <div>Гриссини (50 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>1 000 ₽</div>
          </div>
          <div class="menu-item" data-price="2000">
            <div>Гриссини с пармезаном (3.5 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>2 000 ₽</div>
          </div>
          <div class="menu-item" data-price="1400">
            <div>Гриссини с итальянскими травами (3.5 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>1 400 ₽</div>
          </div>
          <div class="menu-item" data-price="2700">
            <div>Гриссини с пармой (22 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>2 700 ₽</div>
          </div>
          <div class="menu-item" data-price="7500">
            <div>Ассорти из мясных итальянских деликатесов (50 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>7 500 ₽</div>
          </div>
          <div class="menu-item" data-price="4500">
            <div>Ассорти из итальянских сыров (50 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>4 500 ₽</div>
          </div>
          <div class="menu-item" data-price="7500">
            <div>
              Итальянские оливки/артишоки/вяленые томаты (50 гр/персона)
            </div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>7 500 ₽</div>
          </div>
          <div class="menu-item" data-price="3500">
            <div>Овощные палочки с соусом "Буратта" (50 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>3 500 ₽</div>
          </div>
          <div class="menu-item" data-price="5000">
            <div>
              Биг-буратта с томатами, базиликом и соусом песто (160 гр/персона)
            </div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>5 000 ₽</div>
          </div>
          <div class="menu-item" data-price="4700">
            <div>Шарики Робиола/фисташка/оливка (70 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>4 700 ₽</div>
          </div>
          <div class="menu-item" data-price="2500">
            <div>Канапе Капрезе (29 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>2 500 ₽</div>
          </div>
          <div class="menu-item" data-price="3000">
            <div>Канапе Парма/груша/моцарелла (57 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>3 000 ₽</div>
          </div>
          <div class="menu-item" data-price="5000">
            <div>Рулет из моцареллы и тунца (50 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>5 000 ₽</div>
          </div>
          <div class="menu-item" data-price="10000">
            <div>Рулет Лосось/творожный сыр (43 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>10 000 ₽</div>
          </div>
          <div class="menu-item" data-price="3000">
            <div>Профитроли c риетом из лосося (35 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>3 000 ₽</div>
          </div>
          <div class="menu-item" data-price="5000">
            <div>Профитроли с крабом и огурцом (50 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>5 000 ₽</div>
          </div>
          <div class="menu-item" data-price="3500">
            <div>
              Профитроли c креветками и творожным кремом (53 гр/персона)
            </div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>3 500 ₽</div>
          </div>
          <div class="menu-item" data-price="5000">
            <div>
              Биг-буратта с томатами, базиликом и соусом песто (160 гр/персона)
            </div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>5 000 ₽</div>
          </div>
          <div class="menu-item" data-price="1000">
            <div>Гриссини (100 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>1 000 ₽</div>
          </div>
          <div class="menu-item" data-price="2000">
            <div>Гриссини с пармезаном (100 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>2 000 ₽</div>
          </div>
          <div class="menu-item" data-price="1400">
            <div>Гриссини с итальянскими травами (100 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>1 400 ₽</div>
          </div>
          <div class="menu-item" data-price="2700">
            <div>Гриссини с пармой (220 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>2 700 ₽</div>
          </div>
          <div class="menu-item" data-price="3500">
            <div>Овощные палочки с соусом "Буратта" (160 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>3 500 ₽</div>
          </div>
          <div class="menu-item" data-price="11500">
            <div>Гребешки с пармезаном в ракушке (85 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>11 500 ₽</div>
          </div>
        </div>

        <div class="tab-content" id="salads">
          <!-- Мини-формат салатов -->
          <div class="menu-item" data-price="2500">
            <div>Салат с осьминогом (54 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>2 500 ₽</div>
          </div>
          <div class="menu-item" data-price="1700">
            <div>Салат с ростбифом (40 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>1 700 ₽</div>
          </div>
          <div class="menu-item" data-price="2500">
            <div>Салат краб/авокадо/томаты (68 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>2 500 ₽</div>
          </div>
          <div class="menu-item" data-price="1800">
            <div>Салат утка/груша/винный соус (46 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>1 800 ₽</div>
          </div>
          <div class="menu-item" data-price="1800">
            <div>Салат с креветками и авокадо (60 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>1 800 ₽</div>
          </div>
        </div>

        <div class="tab-content" id="desserts">
          <!-- Десерты -->
          <div class="menu-item" data-price="200">
            <div>Макарон в ассортименте (25 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>200 ₽</div>
          </div>
          <div class="menu-item" data-price="7500">
            <div>Тирамису классический 40 см (300 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>7 500 ₽</div>
          </div>
          <div class="menu-item" data-price="9500">
            <div>Тирамису фисташковый с какао 40 см (300 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>9 500 ₽</div>
          </div>
          <div class="menu-item" data-price="12000">
            <div>
              Тирамису фисташковый с лесными ягодами 40 см (350 гр/персона)
            </div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>12 000 ₽</div>
          </div>
          <div class="menu-item" data-price="55750">
            <div>Тирамису классический 100 см (23 кг, 300 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>55 750 ₽</div>
          </div>
          <div class="menu-item" data-price="350">
            <div>Профитроли с ванильным кремом и шоколадом (40 гр/персона)</div>
            <div class="controls">
              <button class="minus">-</button>
              <input type="number" class="quantity" value="0" min="0" />
              <button class="plus">+</button>
            </div>
            <div>350 ₽</div>
          </div>
        </div>

        <div class="total">
          <div class="total__price" id="total-price">Общая цена: 0</div>
          <div>
            <form action="#" class="calc-form" id="orderForm">
              <button class="btn btn-reset calculator__btn">Далее</button>
              <input
                type="hidden"
                name="totalPrice"
                id="totalPriceInput"
                value="0"
              />
            </form>
          </div>
        </div>

        <script>
          const tabs = document.querySelectorAll(".tab");
          const tabContents = document.querySelectorAll(".tab-content");

          tabs.forEach((tab) => {
            tab.addEventListener("click", () => {
              const tabId = tab.getAttribute("data-tab");

              tabs.forEach((t) => t.classList.remove("active"));
              tabContents.forEach((tc) => tc.classList.remove("active"));

              tab.classList.add("active");
              document.getElementById(tabId).classList.add("active");
            });
          });
        </script>
      </div>
    </div>
  </div>
</section>
