<section class="calc">
  <div class="container">
    <h2 class="title2 calc__title">Калькулятор</h2>

    <div class="calc__container">
      <div class="calc__img">
        <img src="./img/calc2.webp" alt="" />
      </div>
      <div class="calc__calculator calculator">
        <table class="calculator__table">
          <thead>
            <tr>
              <th>Закуски</th>
              <th>Кол-во</th>
              <th>Цена</th>
            </tr>
          </thead>
          <tbody>
            <tr class="menu-item" data-price="5000">
              <td>Биг-буратта с томатами 1 кг</td>
              <td>
                <div class="controls">
                  <button class="minus">-</button>
                  <input type="number" class="quantity" value="0" min="0" />
                  <button class="plus">+</button>
                </div>
              </td>
              <td>5000 ₽</td>
            </tr>
            <tr class="menu-item" data-price="3500">
              <td>Рабиола/фисташка/оливка (10 шт)</td>
              <td>
                <div class="controls">
                  <button class="minus">-</button>
                  <input type="number" class="quantity" value="0" min="0" />
                  <button class="plus">+</button>
                </div>
              </td>
              <td>3500 ₽</td>
            </tr>
            <tr class="menu-item" data-price="4500">
              <td>Лосось/творожный сыр (10 шт)</td>
              <td>
                <div class="controls">
                  <button class="minus">-</button>
                  <input type="number" class="quantity" value="0" min="0" />
                  <button class="plus">+</button>
                </div>
              </td>
              <td>4500 ₽</td>
            </tr>
            <tr class="menu-item" data-price="7000">
              <td>Гриссини 100 гр</td>
              <td>
                <div class="controls">
                  <button class="minus">-</button>
                  <input type="number" class="quantity" value="0" min="0" />
                  <button class="plus">+</button>
                </div>
              </td>
              <td>7000 ₽</td>
            </tr>
            <tr class="menu-item" data-price="2500">
              <td>Овощные палочки с соусом (10 шт)</td>
              <td>
                <div class="controls">
                  <button class="minus">-</button>
                  <input type="number" class="quantity" value="0" min="0" />
                  <button class="plus">+</button>
                </div>
              </td>
              <td>2500 ₽</td>
            </tr>
            <tr data-price="2500">
              <th>Мини формат салатов:</th>
              <th></th>
              <th></th>
            </tr>
            <tr class="menu-item" data-price="1300">
              <td>Салат с осьминогом (5 шт)</td>
              <td>
                <div class="controls">
                  <button class="minus">-</button>
                  <input type="number" class="quantity" value="0" min="0" />
                  <button class="plus">+</button>
                </div>
              </td>
              <td>1300 ₽</td>
            </tr>
            <tr class="menu-item" data-price="900">
              <td>Салат с ростбифом (5 шт)</td>
              <td>
                <div class="controls">
                  <button class="minus">-</button>
                  <input type="number" class="quantity" value="0" min="0" />
                  <button class="plus">+</button>
                </div>
              </td>
              <td>900 ₽</td>
            </tr>
            <tr class="menu-item" data-price="1600">
              <td>Салат краб/авокадо/томаты (5 шт)</td>
              <td>
                <div class="controls">
                  <button class="minus">-</button>
                  <input type="number" class="quantity" value="0" min="0" />
                  <button class="plus">+</button>
                </div>
              </td>
              <td>1600 ₽</td>
            </tr>
          </tbody>
          <tfoot class="total">
            <tr>
              <td class="total__price" id="total-price">Общая цена: 0</td>
              <td>
                <button class="btn btn-reset calculator__btn">Далее</button>
              </td>
            </tr>
          </tfoot>
        </table>
      </div>
    </div>
  </div>
</section>
