<section class="contacts" id="contacts">
  <div class="container">
    <h2 class="title2 contacts__title">Контактная информация</h2>

    <div class="contacts__container">
      <div class="contacts__left">
        <address class="contacts__address address desc">
          <span class="address__capture">Наш адрес</span>
          <p class="address__addr">
            <span>Производство Latteria 1963:</span> Москва, Бумажный проезд, 14
            с2
          </p>
          <p class="address__addr">
            <span>Ресторан Latteria 1963:</span> Москва, Корабельная улица, 17
            k1
          </p>
          <p class="address__addr">
            <span>Ресторан Bistro SI:</span> Москва, Долгоруковская улица, 25 k2
          </p>
        </address>
        <div class="contacts__tel contacts-tel">
          <div class="contacts-tel__capture">
            <svg
              width="14"
              height="14"
              viewBox="0 0 14 14"
              fill="none"
              xmlns="http://www.w3.org/2000/svg"
            >
              <path
                d="M4.39511 5.35099L5.25495 4.66109C5.82234 4.20364 6.01231 3.42123 5.71236 2.7588C5.42242 2.11637 4.93751 1.19898 4.28263 0.474073C3.80272 -0.0558805 3.01535 -0.153357 2.41545 0.241588C1.39314 0.914009 -0.274057 2.44383 0.0383875 5.13853C0.0933702 5.59848 0.215846 6.2109 0.723262 7.26328C1.09069 8.02819 1.77807 9.45553 3.2428 10.8954C4.64256 12.2727 6.00482 12.9276 6.73969 13.2776C7.79699 13.785 8.40438 13.9075 8.8618 13.9625C9.08675 13.9875 9.30422 14 9.51419 14C11.8038 14 13.141 12.5227 13.7584 11.5853C14.1534 10.9854 14.0559 10.1979 13.526 9.718C12.7986 9.06307 11.8838 8.57813 11.2414 8.28816C10.579 7.9882 9.79664 8.17817 9.33921 8.74561L8.64934 9.60551C8.38688 9.92797 7.97696 10.093 7.57453 10.038C6.43223 9.87798 5.33494 8.70312 5.30994 8.67811C5.29744 8.66561 4.12265 7.56824 3.96267 6.42588C3.90519 6.02342 4.07266 5.61348 4.39511 5.35099Z"
              />
            </svg>
            Телефон
          </div>
          <a href="tel:+79800034998" class="contacts-tel__tel">
            +7 (980) 003-49-98
          </a>
        </div>
        <div class="contacts__socials">
          <a
            href="https://t.me/eventlatteria1963"
            target="_blank"
            class="contacts__link"
          >
            <img src="./img/soc/tg.svg" alt="" />
          </a>
          <!-- <a href="#" class="contacts__link">
            <img src="./img/soc/vk.svg" alt="" />
          </a>
          <a href="#" class="contacts__link">
            <img src="./img/soc/whatsapp.svg" alt="" />
          </a> -->
          <a
            href="https://www.instagram.com/events_latteria1963?igsh=OGQ5ZDc2ODk2ZA%3D%3D&utm_source=qr"
            class="contacts__link"
            target="_blank"
          >
            <img src="./img/soc/insta.svg" alt="" />
          </a>
        </div>
      </div>
      <div class="contacts__right">
        <div id="map" class="contacts__map"></div>
      </div>
    </div>
  </div>
</section>
<script
  src="https://api-maps.yandex.ru/2.1/?apikey=221cbec3-01c0-4b1a-8417-d7d65e719c35&lang=ru_RU"
  type="text/javascript"
></script>

<script>
  ymaps.ready(init);

  function init() {
    // Координаты центра и метки
    const coordinates = [55.789582, 37.586773];

    // Создаем карту
    const map = new ymaps.Map("map", {
      center: coordinates, // Центр карты
      zoom: 16, // Уровень масштабирования
      controls: ["zoomControl", "typeSelector"], // Элементы управления на карте
    });

    // Создаем стандартную метку красного цвета
    const placemark = new ymaps.Placemark(
      coordinates, // Координаты метки
      {
        balloonContent:
          "Производство Latteria 1963: Москва, Бумажный проезд, 14 с2",
      },
      {
        preset: "islands#redIcon",
        iconContentLayout: ymaps.templateLayoutFactory.createClass(
          '<div style="width: 200px; text-align: left; transform: translate(15px, -100%); padding: 5px; color: #000; font-size: 14px; background: #fff;">Производство Latteria 1963: Москва, Бумажный проезд, 14 с2</div>'
        ),
      }
    );

    // Добавляем метку на карту
    map.geoObjects.add(placemark);
  }
</script>
