<footer class="footer">
  <div class="container">
    <div class="footer__top">
      <a href="./" class="footer__logo">
        <img src="./img/about.webp" alt="" />
      </a>

      <div class="footer__col">
        <div class="footer__tel contacts-tel">
          <div class="contacts__tel contacts-tel contacts-tel--white">
            <div class="contacts-tel__capture">
              <svg
                width="14"
                height="14"
                viewBox="0 0 14 14"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M4.39511 5.35099L5.25495 4.66109C5.82234 4.20364 6.01231 3.42123 5.71236 2.7588C5.42242 2.11637 4.93751 1.19898 4.28263 0.474073C3.80272 -0.0558805 3.01535 -0.153357 2.41545 0.241588C1.39314 0.914009 -0.274057 2.44383 0.0383875 5.13853C0.0933702 5.59848 0.215846 6.2109 0.723262 7.26328C1.09069 8.02819 1.77807 9.45553 3.2428 10.8954C4.64256 12.2727 6.00482 12.9276 6.73969 13.2776C7.79699 13.785 8.40438 13.9075 8.8618 13.9625C9.08675 13.9875 9.30422 14 9.51419 14C11.8038 14 13.141 12.5227 13.7584 11.5853C14.1534 10.9854 14.0559 10.1979 13.526 9.718C12.7986 9.06307 11.8838 8.57813 11.2414 8.28816C10.579 7.9882 9.79664 8.17817 9.33921 8.74561L8.64934 9.60551C8.38688 9.92797 7.97696 10.093 7.57453 10.038C6.43223 9.87798 5.33494 8.70312 5.30994 8.67811C5.29744 8.66561 4.12265 7.56824 3.96267 6.42588C3.90519 6.02342 4.07266 5.61348 4.39511 5.35099Z"
                />
              </svg>
              Телефон
            </div>
            <a href="tel:+79800034998" class="contacts-tel__tel">
              +7 (980) 003-49-98
            </a>
          </div>
        </div>
        <div class="footer__tel contacts-tel">
          <div class="contacts__tel contacts-tel contacts-tel--white">
            <div class="contacts-tel__capture">
              <svg
                width="14"
                height="11"
                viewBox="0 0 14 11"
                fill="none"
                xmlns="http://www.w3.org/2000/svg"
              >
                <path
                  d="M0.735352 0.0197633L6.23035 6.22542C6.44035 6.46258 6.72035 6.58116 7.01785 6.58116C7.31535 6.58116 7.59535 6.44281 7.80535 6.22542L13.3004 0.0197633C13.2654 0.0197633 13.2304 0 13.1954 0H0.840351C0.805351 0.0197632 0.770352 0.0197633 0.735352 0.0197633Z"
                  fill="white"
                />
                <path
                  d="M8.2775 6.77834C7.945 7.15384 7.49 7.37123 7 7.37123C6.51 7.37123 6.0725 7.15384 5.7225 6.77834L0.1225 0.454102C0.0525 0.612207 0 0.790077 0 0.967946V9.70329C0 10.2369 0.385 10.6519 0.84 10.6519H13.16C13.6325 10.6519 14 10.2171 14 9.70329V0.967946C14 0.790077 13.9475 0.612208 13.8775 0.473865L8.2775 6.77834Z"
                  fill="white"
                />
              </svg>
              Почта
            </div>
            <a
              href="mailto:info@eventlatteria1963.com"
              class="contacts-tel__tel"
            >
              info@eventlatteria1963.com
            </a>
          </div>
        </div>
        <div class="footer__tel contacts-tel">
          <div class="contacts__tel contacts-tel contacts-tel--white">
            <div class="contacts-tel__capture">
              <img src="./img/soc.webp" alt="" />
              Соц. сети
            </div>
            <div class="footer__socials">
              <a href="#" class="footer__link">
                <img src="./img/soc/tg.svg" alt="" />
              </a>
              <a href="#" class="footer__link">
                <img src="./img/soc/vk.svg" alt="" />
              </a>
              <a href="#" class="footer__link">
                <img src="./img/soc/whatsapp.svg" alt="" />
              </a>
              <a href="#" class="footer__link">
                <img src="./img/soc/insta.svg" alt="" />
              </a>
            </div>
          </div>
        </div>
      </div>

      <div class="footer__col">
        <nav class="footer-nav">
          <ul class="list-reset footer-nav__list">
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">Ценности</a>
            </li>

            <li class="footer-nav__item">
              <a href="#service" class="footer-nav__link">Услуги</a>
            </li>
            <li class="footer-nav__item">
              <a href="#specific" class="footer-nav__link">Почему мы? </a>
            </li>
            <li class="footer-nav__item">
              <a href="#benefits" class="footer-nav__link">Наши преимущества</a>
            </li>
            <!-- <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">Видео</a>
            </li>
            <li class="footer-nav__item">
              <a href="#" class="footer-nav__link">Блог</a>
            </li> -->
          </ul>
        </nav>
      </div>

      <div class="footer__col">
        <div class="footer__others">
          <a href="#">Публичная офера</a>
          <a href="#">Политика конфиденциальности</a>
        </div>
        <a
          href="https://t.me/eventlatteria1963"
          target="_blank"
          class="btn btn-reset footer__btn"
          >Заказать звонок</a
        >
        <small class="footer__agree">
          Нажимая на кнопку “Заказать звонок” Я соглашаюсь с условиями Политики
          Конфиденциальности
        </small>
      </div>
    </div>

    <div class="footer__bottom">
      <small
        >Разработано
        <a href="https://devRent.tech" target="_blank">DevRent.tech</a></small
      >
      <small>2025 © Все права защищены</small>
    </div>
  </div>
</footer>
