<section class="geo" id="geo">
  <div class="container">
    <div class="geo__container">
      <div class="geo__content">
        <h2 class="title2 geo__title">география обслуживания</h2>
        <p class="desc geo__desc">
          Мы работаем на любой локации Москвы и области: от центра города до
          загородных площадок.
          <br /><br />
          За пределами МКАД услуги предоставляются с учётом логистики, что может
          незначительно повлиять на стоимость.
          <br /><br />
          Независимо от места, мы гарантируем высочайший уровень сервиса и
          качество Latteria 1963 Group.
        </p>
      </div>
      <div class="geo__img">
        <img src="./img/geo.webp" alt="" />
      </div>
    </div>
  </div>
</section>
