<section class="hero">
  <div class="container">
    <div class="hero__container">
      <div class="hero__content">
        <h1 class="hero__title">Мы создаем атмосферу праздника</h1>
        <p class="hero__desc">
          каждая деталь — от изысканных блюд до душевной обстановки — работает
          на ваше удовольствие.
        </p>
        <div class="hero__row">
          <a
            href="#calc"
            class="btn-reset hero__btn btn"
            data-label="Пишите нам в Telegram и Whatsapp"
          >
            заказать мероприятие
          </a>
          <a
            href="https://t.me/eventlatteria1963"
            target="_blank"
            class="btn-reset hero__btn btn btn--soc"
          >
            <svg class="">
              <use xlink:href="img/sprite.svg#tg"></use>
            </svg>
          </a>
          <a href="tel:+79800034998" class="btn-reset hero__btn btn btn--soc">
            <svg class="">
              <use xlink:href="img/sprite.svg#whatsapp"></use>
            </svg>
          </a>
        </div>
      </div>
      <div class="hero__img">
        <img src="./img/hero.webp" alt="" />
      </div>
    </div>
  </div>
</section>
