<section class="service" id="service">
  <div class="container">
    <h2 class="title2 service__title title2--white">Услуги</h2>

    <div class="service__container border-container">
      <div class="service__slider swiper">
        <div class="swiper-wrapper">
          <div class="swiper-slide">
            <div class="service__item service-item">
              <div class="service-item__left">
                <div class="service-item__title">Кейтеринг</div>
                <p class="desc service-item__desc">
                  Кейтеринг от<b> Latteria1963 Group</b> — это ресторанная кухня
                  в мини-формате, созданная нашим бренд-шефом. Идеальное решение
                  для фуршетов: изысканные закуски, канапе, мини-десерты и
                  многое другое. Наши блюда станут украшением деловых встреч,
                  корпоративных событий и частных мероприятий.<br />
                  Доставка и профессиональное обслуживание уже включены.
                </p>
              </div>
              <div class="service-item__img">
                <img src="./img/service/01.webp" alt="" />
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="service__item service-item">
              <div class="service-item__left">
                <div class="service-item__title">Банкеты/Мероприятия</div>
                <p class="desc service-item__desc">
                  Уютный зал на 30 гостей с возможностью организации фуршета.<br />
                  Полное сопровождение мероприятий под ключ: звуковое
                  оборудование, DJ, фотограф, видеограф, ведущий.<br />
                  Дополнительно: интерактивные игры для взрослых и детей, винные
                  дегустации, мастер-классы от бренд-шефа.<br />
                  Живая музыка и профессиональные музыканты для создания
                  неповторимой атмосферы.
                  <br /><br />
                  Идеальное пространство для вашего праздника!
                </p>
              </div>
              <div class="service-item__img">
                <img src="./img/service/02.webp" alt="" />
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="service__item service-item">
              <div class="service-item__left">
                <div class="service-item__title">Бизнес-завтраки/коворкинг</div>
                <p class="desc service-item__desc">
                  <b>Latteria1963 Group</b> создает идеальную атмосферу для
                  деловых встреч. Индивидуальное меню, тихая обстановка,
                  возможность закрыть ресторан для эксклюзивного использования.
                  Идеально для переговоров, коворкинга и нетворкинга.
                </p>
              </div>
              <div class="service-item__img">
                <img src="./img/service/03.webp" alt="" />
              </div>
            </div>
          </div>
          <div class="swiper-slide">
            <div class="service__item service-item">
              <div class="service-item__left">
                <div class="service-item__title">Помощь вашему столу</div>
                <p class="desc service-item__desc">
                  Наборы для кулинарного вдохновения от
                  <b>Latteria1963 Group</b>. Почувствуйте себя шеф-поваром, не
                  выходя из дома! В каждом наборе — свежие продукты, авторские
                  соусы и десерты от ресторана, а также подробная инструкция от
                  Бренд-шефа. Просто, изысканно и вкусно. <br />Погрузитесь в
                  мир высокой кухни и создавайте шедевры своими руками.<br />
                  <br /><br />
                  Идеально для тех, кто ценит процесс и результат.
                </p>
              </div>
              <div class="service-item__img">
                <img src="./img/service/04.webp" alt="" />
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="service__control">
        <button class="btn-reset service__btn service__btn--prev">
          <svg
            width="21"
            height="23"
            viewBox="0 0 21 23"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.62996 20.6301L17.76 11.5001L8.62996 2.37008L10.17 0.830078L20.84 11.5001L10.17 22.1701L8.62996 20.6301Z"
              fill="#69803E"
            />
            <path
              d="M19.3 10.3999V12.5999H0.600048V10.3999H19.3Z"
              fill="#69803E"
            />
          </svg>
        </button>
        <div class="service__pagination pagination">1/10</div>
        <button class="btn-reset service__btn service__btn--next">
          <svg
            width="21"
            height="23"
            viewBox="0 0 21 23"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
          >
            <path
              d="M8.62996 20.6301L17.76 11.5001L8.62996 2.37008L10.17 0.830078L20.84 11.5001L10.17 22.1701L8.62996 20.6301Z"
              fill="#69803E"
            />
            <path
              d="M19.3 10.3999V12.5999H0.600048V10.3999H19.3Z"
              fill="#69803E"
            />
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
