<section class="specific" id="specific">
  <div class="container">
    <h2 class="title2 specific__title">Особенности услуг</h2>
    <div class="specific__container">
      <div class="specific__block">
        <h3 class="title3 specific__capture">Уникальный подход</h3>
        <p class="desc specific__desc">
          Каждое мероприятие разрабатывается индивидуально: от авторского меню
          до сервировки, оформления и атмосферы, полностью соответствующих
          запросам клиента.
        </p>
      </div>
      <div class="specific__block">
        <h3 class="title3 specific__capture">Бренд-шеф на локации</h3>
        <p class="desc specific__desc">
          Весь процесс приготовления и подачи блюд проводится Бренд-шеф прямо
          перед гостями, что позволяет ощутить магию кухни и насладиться высоким
          профессионализмом.
        </p>
      </div>
      <div class="specific__block">
        <h3 class="title3 specific__capture">Высокое качество ингредиентов</h3>
        <p class="desc specific__desc">
          Только свежие продукты из нашего собственного производства. Наша
          сыроварня и кондитерская используют исключительно натуральные
          ингредиенты, чтобы каждая позиция в меню отличалась утонченным вкусом
          и качеством.
        </p>
      </div>
    </div>
  </div>
</section>
