<section class="specific" id="specific">
  <div class="container">
    <h2 class="title2 specific__title">Особенности услуг</h2>
    <div class="specific__container">
      <div class="specific__block">
        <h3 class="title3 specific__capture">Индивидуальный подход</h3>
        <p class="desc specific__desc">
          Каждое мероприятие создается с нуля: уникальное меню, сервировка,
          оформление и атмосфера — все подчеркивает ваши пожелания и стиль.
        </p>
      </div>
      <div class="specific__block">
        <h3 class="title3 specific__capture">Шоу от бренд-шефа</h3>
        <p class="desc specific__desc">
          Приготовление и подача блюд проходят прямо на ваших глазах. Магия
          кулинарного искусства и высочайший профессионализм — для незабываемых
          впечатлений.
        </p>
      </div>
      <div class="specific__block">
        <h3 class="title3 specific__capture">Натуральные ингредиенты</h3>
        <p class="desc specific__desc">
          Мы используем только свежие продукты с собственного производства.
          Натуральные сыры и десерты, созданные с любовью, — гарантия
          изысканного вкуса и качества.
        </p>
      </div>
    </div>
  </div>
</section>
